<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/book/new"><button class="add-new">Article +</button></a>
    <p class="article-page-info">All book are listed as below ...</p>
    <ul class="article-list">
      <% book.forEach((book)=>{%>
      <div class="article-info">
        <li>
          <a href="/book/<%= book._id%>"><h1><%= book.title%></h1></a>
        </li>
      </div>
      <%}) %>
    </ul>
  </body>
</html>
